@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");

/* || REST */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* || VARIABLES */
:root {
  /* COLORS */
  --WHITE: #fff;
  --BLACK: #000;
  --GREY-950: #131518;
  --GREY-900: #262e38;
  --GREY-500: #969fad;
  --ORANGE: #fc7614;

  /* GRADIENTS */
  --RADIAL-GRAD: radial-gradient(circle at center, #232a34, #181e27);

  /* TYPOGRAPHY */
  --FF: "Overpass", sans-serif;

  --TEXT-PRESET-1: bold 1.75rem/2.1875rem var(--FF);
  --TEXT-PRESET-2: bold 1.5rem/1.875rem var(--FF);
  --TEXT-PRESET-3: bold 1rem/1.5rem var(--FF);
  --TEXT-PRESET-4-BOLD: bold 0.9375rem/1.1875rem (--FF);
  --TEXT-PRESET-4: normal 0.9375rem/1.5rem var(--FF);
  --TEXT-PRESET-5-BOLD: bold 0.875rem/1.125rem var(--FF);
  --TEXT-PRESET-5-SEMI-BOLD: 600 0.875rem/1.5rem var(--FF);
  --TEXT-PRESET-5: normal 0.875rem/1.375rem var(--FF);

  /*typography letter-spacing */
  --TEXT-PRESET-3-LS: 0.0125rem;
  --TEXT-PRESET-4-BOLD-LS: 0.125rem;
  --TEXT-PRESET-5-BOLD-LS: 0.1169rem;
  --TEXT-PRESET-5-SEMI-BOLD-LS: 0.0106rem;
}

/* || UTILITY CLASSES */
.offscreen {
  position: absolute;
  left: -10000px;
}

.nowrap {
  white-space: nowrap;
}

.center {
  text-align: center;
}

.responsive-image {
  display: none;
}

/* MOBILE FIRST DESIGN */
/* || GENERAL STYLES */
html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
  display: grid;
  place-content: center;
  background-color: var(--GREY-950);
}

h1,
h2 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: normal;
}

/* INDEX-HTML */

/* rating-container */
.rating__container {
  width: 327px;
  height: 360px;
  background-color: var(--BLACK);
  background: var(--RADIAL-GRAD);
  border-radius: 15px;
  padding: 1.5rem;
}

/* rating-header */
.rating__header {
  margin-bottom: 1rem;
}

.rating_star {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--GREY-900);
  display: grid;
  place-content: center;
  margin-bottom: 1.5rem;
}

.rating_star img {
  max-width: 13.96px;
}

.rating_title {
  color: var(--WHITE);
  font: var(--TEXT-PRESET-2);
  margin-bottom: 1rem;
}

.rating__description {
  color: var(--GREY-500);
  font: var(--TEXT-PRESET-5);
  max-width: 279px;
}

.rating__form {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 1.5rem;
}

.rating__buttons {
  display: flex;
  width: 17.4375rem;
  justify-content: space-between;
}

.rating__button {
  position: relative;
  text-align: center;
}

.rating__input {
  position: absolute;
  opacity: 0;
  width: 42px;
  height: 42px;
}

.rating__number {
  display: inline-block;
  width: 42px;
  height: 42px;
  background-color: var(--GREY-900);
  border-radius: 50%;
  font: var(--TEXT-PRESET-5-BOLD);
  line-height: 42px;
  letter-spacing: var(--TEXT-PRESET-5-BOLD-LS);
  color: var(--GREY-500);
}

.rating__button.active .rating__number {
  background-color: var(--ORANGE);
  color: var(--GREY-900);
}

.rating__submit {
  width: 279px;
  height: 45px;
  background-color: var(--ORANGE);
  text-align: center;
  border: none;
  border-radius: 22.5px;
  text-transform: uppercase;
  font: var(--TEXT-PRESET-5-BOLD);
  color: var(--GREY-950);
  line-height: 45px;
  letter-spacing: var(--TEXT-PRESET-5-BOLD-LS);
}

/* THANKS-HTML */

/* thanks-contaner */
.thanks__container {
  width: 327px;
  height: 360px;
  border-radius: 15px;
  background: var(--RADIAL-GRAD);
  padding: 2rem 1.5rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 1.5rem;
}

.thank__status img {
  max-width: 144px;
}

.thanks__message {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.thanks__rating {
  width: 168px;
  height: 32px;
  padding: 0rem 1rem;
  color: var(--ORANGE);
  font: var(--TEXT-PRESET-5);
  line-height: 32px;
  letter-spacing: var(--TEXT-PRESET-5-BOLD);
  background-color: var(--GREY-900);
  border-radius: 22.4px;
  margin-bottom: 24px;
}

.thanks__title {
  color: var(--WHITE);
  font: var(--TEXT-PRESET-2);
  margin-bottom: 1rem;
}

.thanks__description {
  max-width: 279px;
  color: var(--GREY-500);
  font: var(--TEXT-PRESET-5);
}
